version: 2
updates:
- package-ecosystem: npm
  directory: "/"
  schedule:
    interval: daily
  open-pull-requests-limit: 99
  ignore:
  - dependency-name: clean-stack
    versions:
    - 4.0.0
  - dependency-name: mimic-fn
    versions:
    - 4.0.0
